# Copiez ce fichier en .env et remplissez les valeurs.

# Chaîne de connexion MongoDB Atlas (ou locale)
MONGODB_URI=mongodb://adminUser:kqYnYccSffjHs7w4@ac-lontkbs-shard-00-00.od69sae.mongodb.net:27017,ac-lontkbs-shard-00-01.od69sae.mongodb.net:27017,ac-lontkbs-shard-00-02.od69sae.mongodb.net:27017/assignmentsDB?ssl=true&replicaSet=atlas-5fdzca-shard-0&authSource=admin&appName=Cluster0

# Secret pour signer les JWT (chaîne longue et aléatoire en production)
JWT_SECRET=changez_moi_secret_tres_long

# Port d'écoute (Render fournit souvent PORT automatiquement)
PORT=8010

# Origines CORS autorisées, séparées par des virgules (URL du front déployé + local)
CORS_ORIGINS=http://localhost:4200
